:root{
    --branco:white;
    --corDeFundo: #669eda;
    --fundoSenha: #1375e6;
    --fundodetexto: #b3c0cf;
    --borda: #062141;
    --NewAmsterdam: "New Amsterdam";
    --EduVICWANTBeginner:"Edu VIC WA NT Beginner";
}

body{
    color: var(--branco);
    background-color: var(--corDeFundo);
}

.titulo-principal{
    font-family: var(--NewAmsterdam);
}

.titulo-secundario{
    font-family: var(--EduVICWANTBeginner);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.conteudo-senha{
    background-color: var(--fundoSenha);
    padding: 24px;

    border-bottom: 6px solid var(--borda);
    margin-top: 50px;
}

#campo-senha{
    background-color: var(--fundoSenha);
    border: none;
    color: var(--branco);
    font-family: var(--NewAmsterdam);
    font-size: 40px;

}

#campo-senha:focus{
    outline: none;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}